<ion-header class="header">
  <ion-title class="title" align="center">Love2Dance</ion-title>
  <ion-title class="subtitle" align="center" size="small">Loves Music, Loves to Dance</ion-title>
</ion-header>

<ion-header>
  <ion-toolbar>
    <ion-title class="absolute-title">Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-list>

    <ion-item class="roundedInput">
      <ion-label position="floating">Email Address</ion-label>
      <ion-input type="text" [(ngModel)]="email"></ion-input>
    </ion-item>

    <ion-item class="roundedInput">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>

    <ion-item class="roundedInput">
      <ion-label position="floating">Confirm password</ion-label>
      <ion-input type="password" [(ngModel)]="cpassword"></ion-input>
    </ion-item>

  </ion-list>
  <ion-row class="ion-justify-content-center">
    <ion-button fill="solid" expand="block" color="dark" (click)="register()">Sign Up</ion-button>
    <ion-button fill="solid" expand="block" color="dark" (click)="backToLogin()">Back to Login</ion-button>
  </ion-row>
</ion-content>
