ion-title.title {
  background-color: transparent;
  font-family: Impact;
  font-style: italic;
}

ion-title.subtitle {
  background-color: transparent;
  font-family: 'Trebuchet MS';
}

ion-header.header {
  background-color: transparent;
}
