/* You can add global styles to this file, and also import other style files */
ion-title.title {
  font-family: Impact;
  font-style: italic;
}

ion-title.subtitle {
  font-family: 'Trebuchet MS';
}
