ion-title.title {
  align-items: flex-start;
  background-color: transparent;
  font-family: Impact;
  font-style: italic;
}

ion-title.subtitle {
  padding-top: 25px;
  align-items: flex-start;
  background-color: transparent;
  font-family: 'Trebuchet MS';
}

ion-header.header {
  flex-direction: row;
  align-content: center;
}

ion-button.logout{
  height: 40px;
  width: 40px;
  position: absolute;
  right: 40px;
  top: 10px;
}
